#inscription,
#identification {
    border: solid 1px rgb(11, 11, 80);
    padding: 15px;
}

legend {
    text-align: center;
}
.accueil1, .accueil2 {
    display: flex;
    align-items: center;
    justify-content: center;
}