<h2 class="container">Panier</h2>
<table class="table container">
    <thead>
        <tr>
            <th>Visuel</th>
            <th>Référence</th>
            <th>Désignation</th>
            <th>Prix unitaire</th>
            <th>Quantité</th>
            <th>Prix total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let elt of detailsCommande, index as i">
            <tr>
                <td class="my-auto"><a href=""><img src="{{ visuels[i] }}" alt=""></a></td>
                <td class="my-auto">{{ elt.idProduit }}</td>
                <td style="text-align: left;">{{ designations[i] }}</td>
                <td>{{ prixUnitaires[i] }} €</td>
                <td>
                    <div class="quantite">
                        <div>{{ elt.quantite }}</div>
                        <div class="boutons">
                            <div><button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button></div>
                            <div><button type="button" class="btn btn-primary"><i class="fas fa-minus"></i></button></div>
                        </div>
                    </div>
                </td>
                <td>{{ prixTotaux[i] }} €</td>
                <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-trash-alt fa-xl"></i></button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>