<div class="container">
  <div class="top container">
    <h2 class="col-5">Compte</h2>
    <div class="boutons">
      <button [hidden]="isAuthorised" (click)="autoriserModification()" class="btn btn-secondary">Modifier</button>
      <!-- <button [hidden]="!isAuthorised" [disabled]="formModification.invalid" class="btn btn-secondary">Valider modifications</button> -->
      <button [hidden]="isAuthorised" (click)="supprimerUtilisateur()" style="color: white;"
        class="btn btn-light btn-outline-secondary text-dark">Supprimer compte</button>
    </div>
  </div>

  <div class="container mt-2 alert alert-success">{{ message }}</div>

  <form class="was-validated container" (ngSubmit)="modifierUtilisateur()" #formModification="ngForm">
    <table>
      <tr>
        <td class="categorie1" colspan="8">Paramètres de connexion</td>
      </tr>
      <tr>
        <th class="col-1"><label for="email" class="form-label">Email : </label></th>
        <td class="col-3"><input type="email" placeholder="pseudo@exemple.com" class="form-control" id="email"
            name="email" [readonly]="!isAuthorised" required [(ngModel)]="utilisateur.email" #email="ngModel"></td>
        <th class="col-1"><label for="motDePasse" class="form-label">Mot de passe : </label></th>
        <td class="col-3"><input type="password" class="form-control" id="motDePasse" name="motDePasse" minlength="5"
            maxlength="30" [readonly]="!isAuthorised" required placeholder="5 à 30 caractères." [(ngModel)]="utilisateur.motDePasse"
            #motDePasse="ngModel"></td>
      </tr>
      <tr>
        <td class="categorie2" colspan="8">Informations personnelles</td>
      </tr>
      <tr>
        <th class="col-1"><label for="prenom" class="form-label">Prénom : </label></th>
        <td class="col-3"><input type="text" class="form-control" id="prenom" name="prenom" minlength="3" maxlength="30"
            [readonly]="!isAuthorised" required [(ngModel)]="utilisateur.prenom" #prenom="ngModel"></td>
        <th class="col-1"><label for="nom" class="form-label">Nom : </label></th>
        <td class="col-3"><input type="text" class="form-control" id="nom" name="nom" minlength="3" maxlength="30"
            [readonly]="!isAuthorised" required [(ngModel)]="utilisateur.nom" #nom="ngModel"></td>
      </tr>
      <tr>
        <th><label for="adresse" class="form-label">Adresse : </label></th>
        <td><input type="text" class="form-control" placeholder="15 rue du Paradis, 06000 Nice" id="adresse"
            name="adresse" [readonly]="!isAuthorised" required [(ngModel)]="utilisateur.adresse" #adresse="ngModel"></td>
      </tr>
    </table>
    <div class="boutonsForm">
      <button [hidden]="!isAuthorised" [disabled]="formModification.invalid" class="btn btn-secondary">Valider modifications</button>
      <button [hidden]="!isAuthorised" (click)="annulerModification()" style="color: white;"
          class="btn btn-light btn-outline-secondary text-dark">Annuler</button>
    </div>
  </form>
</div>