<footer class="container my-3">
    <div><a href="">Mentions légales</a></div>
    <div><a href="">Conditions générales de vente</a></div>
    <div><a href="">Contact</a></div>
    <div class="suivi">
        Suivez-nous :
        <a href=""><i class="fab fa-xl fa-tiktok"></i></a>
        <a href=""><i class="fab fa-xl fa-instagram"></i></a>
        <a href=""><i class="fab fa-xl fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-xl fa-pinterest-p"></i></a>
        <a href=""><i class="fab fa-xl fa-twitter"></i></a>
    </div>
</footer>