<h2 class="container">Produit</h2>
<section>
    <div class="container">
        <ul class="row">
            <ng-container *ngIf="id == 0, else details">
            <ng-container *ngIf="id == 0  || recherche != null, else details"></ng-container>
                <li class="col-xl-6 col-sm-12 produit p-4 mt-1" *ngFor="let elt of produits">
                    <div class="col-6"><a href="/produit?id={{ elt.id }}"><img src="{{ elt.src1 }}"
                                alt="{{ elt.designation }}"></a></div>
                    <div class="detailsProduit col-6">
                        <ul>
                            <li class="mb-2">
                                <h3>{{ elt.marque }}</h3>
                            </li>
                            <li class="mb-2">
                                <h4>{{ elt.designation }}</h4>
                            </li>
                            <li class="mb-2">Prix unitaire : {{ elt.prixUnitaire }} €</li>
                            <li class="mb-3"><button><i class="fas fa-heart"></i></button> : {{ elt.like }}</li>
                            <li><i class="fas fa-cart-arrow-down fa-2xl"></i></li>
                        </ul>
                    </div>
                </li>
            </ng-container>
            <ng-template #details class="focusProduit p-4">
                <div class="col-4 mt-4">
                    <div class="row"><img id="grandeImg" src="{{ produit.src1 }}" alt="{{ produit.designation }}"></div>
                    <div class="miniatures mt-4">
                        <div><button onclick="permuter(1)"><img id="petiteImg1" src="{{ produit.src2 }}"
                                    alt="{{ produit.designation }}"></button></div>
                        <div><button onclick="permuter(2)"><img id="petiteImg2" src="{{ produit.src3 }}"
                                    alt="{{ produit.designation }}"></button></div>
                    </div>
                </div>
                <div class="detailsProduit col-8 mt-4">
                    <ul>
                        <li class="mb-2">
                            <h3>{{ produit.marque }}</h3>
                        </li>
                        <li class="mb-4">
                            <h4>{{ produit.designation }}</h4>
                            <div><i class="fas fa-cart-arrow-down fa-2xl"></i></div>
                        </li>
                        <li class="mb-2">Prix unitaire : {{ produit.prixUnitaire }} €</li>
                        <li class="mb-2"><button><i class="fas fa-heart"></i></button> : {{ produit.like }}</li>
                        <li class="detail mb-4">Informations produit : {{ produit.detail }}</li>
                    </ul>
                </div>
            </ng-template>
        </ul>
    </div>

</section>