ul {
    list-style-type: none;
}

img {
    max-width: 300px;
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.produit {
    display: flex;
    align-items: center;
}

h3 {
    font-size: 1.2em;
}
.miseEnPage {
    display: flex;
    justify-content: flex-end;
}
.miseEnPage button {
    margin-left: 15px;
    border: none;
    background: none;
}
.detailsProduit ul>li:first-of-type {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.detail {
    text-align: justify;
    max-height: 200px;
    overflow: auto;
}
button {
    border: none;
    background: none;
}

#grandeImg {
    max-width: 450px;
    max-height: 375px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#petiteImg1, #petiteImg2 {
    max-width: 150px;
    max-height: 125px;
    margin-right: 5px;
}
.miniatures {
    display: flex;
}