<h2 class="container">Produit</h2>
<section>
    <div class="container mt-5 mb-2 input-group">
        <input id="recherche" type="text" placeholder="Taper ici votre recherche"
            class="form-control">
        <button (click)="rechercherProduits()" class="btn btn-secondary">Rechercher</button>
    </div>

    <div class="container p-5 text-center">
        <div class="row">
            <ul *ngFor="elt of produits">
                <li><img src="elt.src" alt="elt.description"></li>
            </ul>

        </div>
    </div>

</section>
