ul li {
    list-style-type: none;
    display:inline-block;
    margin-right: 5px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.fas {
    margin-right: 8px;
}

.offcanvas-body .nav {
    display: flex;
    flex-direction: column;
}
#raccourci {
    display: flex;
    justify-content: flex-end;
}
nav {
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: center;
}